playwright
beautifulsoup4
yt_dlp
pytube
moviepy
requests
streamlit
sentence-transformers
numpy
pandas
python-dotenv
boto3
botocore
stripe
backoff
psycopg2-binary
sqlalchemy
pgvector
accelerate
torch
spacy
textblob
transformers
evaluate
scikit-learn
nltk
